{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/items.css' %}">
</head>

<div id="items-main">
    <h1 id="items-title">View Items Details</h1>
    
    <a href="{% url 'add-item' %}"><button id="add-item-btn">Add Item</button></a>

    <div id="view-item-list">
        {% for item in inventory_list %}
            
            <div id="view-item-entry">
                <h2>{{item.name}}</h2>
                <a href="{% url 'item-details' item.id %}"><button id="item-btn">View</button></a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}