#sell-new-main{
    /* border: 2px solid firebrick; */
    margin: auto;
    width: 75%;
    background-color: rgba(245, 243, 255, 0.829);

}

#add-new-title{
    font-size: 1.75rem;
    text-align: center;
    color: blue;
    margin-bottom: 1.2rem;
}

#sell-form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    /* align-items: center */
    justify-items: center;
    background-color: rgba(245, 243, 255, 0.829);

}

input,select{
    /* display: block; */
    border: 2px solid red;
    border-radius: 1rem;
    text-align: center;
}
p{
    margin-bottom: 1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#sell-btn{
    margin-bottom: 1rem;
}